@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor00:#ebe5c5;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --fonte-padrão: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Android', serif;
    
}

body{
    font-family: var(--fonte-padrão);
    background-color: var(--cor00);
}

header{
    background-image:linear-gradient(var(--cor03), var(--cor05));
    padding: 5px;
    padding-left: 10px;
}

header > h1{
    font-family: var(--fonte-destaque);
    color:white;
}

header > p{
    color: white;
}

main{
    background-color: white;
}

article > h1{
    font-family: var(--fonte-android);
    color: var(--cor05);

}

article > h2{
    font-family: var(--fonte-android);
    color: var(--cor05);

}

footer{
    background-color: var(--cor05);
    color: white;
}

